#floorHolder{
    h2{
        font-size: 3vh;
    }
}
.tableCard{
    height: 15vh;
    h1{
        font-size: 4vh;
    }
    .long-name{
        font-size: 3vh;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: capitalize;
    }
    .card-text{
        position: absolute;
        bottom: 1rem;
    }
}
.col-card{
    padding-right: 5px;
    padding-left:5px;
}
.normal{
    width: auto !important;
}