<div class="row">
  <div class="col-lg-10 pr-0">
    <div class="card full-height">
      <div class="card-header">
        <div class="row">
          <div class="col-lg-8">
            Masalar
          </div>
          <div class="col-lg-4 pr-2">
            <div class="input-group input-group-sm">
              <div class="input-group-addon normal">
                <i class="fa fa-search" aria-hidden="true"></i>
              </div>
              <input #tableName type="text" placeholder="Masa Adı Giriniz.." (click)="tableViews = tables" (keyup)="filterTables(tableName.value)"
                class="form-control form-contol-sm">
            </div>
          </div>
        </div>
      </div>
      <div class="card-block pt-0 flow">
        <div class="row">
          <div *ngFor="let table of tableViews" [routerLink]="['/selling-screen','Normal', table._id]" class="col-xl-2 col-lg-2 mt-2 col-card">
            <div [ngClass]="{'bg-success': table.status == 2, 'bg-danger text-white': table.status == 3 }" class="card card-warning tableCard">
              <div class="card-block p-3">
                <h1 [ngClass]="{'long-name mb-4': table.name.length >= 7}" class="card-title mb-3">{{table.name}}</h1>
                <p>
                  <i class="fa fa-user"></i> {{table.capacity}}
                  <span *ngIf="table.status == 2" class="pull-right">
                    <i class="fa fa-clock-o" aria-hidden="true"></i> {{table.timestamp | date:'HH:mm'}}
                  </span>
                  <span *ngIf="table.status == 3" class="pull-right">
                    <i class="fa fa-print" aria-hidden="true"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div *ngFor="let check of checks" [routerLink]="['/selling-screen','Fast', check._id]" class="col-xl-2 col-lg-2 mt-2 col-card">
            <div class="card card-info tableCard">
              <div class="card-block p-3">
                <h1 class="card-title long-name mb-1">Hızlı Hesap</h1>
                <p class="card-text">
                  <i class="fa fa-user" aria-hidden="true"></i> {{check.owner}}
                  <br>
                  <i class="fa fa-sticky-note"></i> {{check.note}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="floorHolder" class="col-lg-2">
    <div class="card mb-2" [routerLink]="['/selling-screen','Fast', 'New']" class="card mb-2 card-info card-inverse">
      <div class="card-block">
        <h2><i class="fa fa-sticky-note" aria-hidden="true"></i> Hızlı Satış</h2>
      </div>
    </div>
    <div class="card mb-2" (click)="getTablesBy('All')" [ngClass]="{'card-danger card-inverse':selected == ''}">
      <div class="card-block">
        <h2>Tüm Masalar</h2>
      </div>
    </div>
    <div *ngFor="let floor of floors" (click)="getTablesBy(floor._id)" class="card mb-2" [ngClass]="{'card-danger card-inverse':selected == floor._id}">
      <div class="card-block">
        <h2>{{floor.name}}</h2>
      </div>
    </div>
  </div>
</div>