#floorHolder{
    h2{
        font-size: 1.5vw;
        font-weight: bolder;
    }
}
.tableCard{
    height: 15vh;
    h1{
        font-size: 2.45vw;
    }
    .long-name{
        font-size: 1.7vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: capitalize;
    }
    p{
        position: absolute;
        width: 78%;
        bottom: 0px;
    }
    .card-text{
        position: relative !important;
    }
}
.col-card{
    padding-right: 5px;
    padding-left:5px;
}
.normal{
    width: auto !important;
}