#floorHolder{
    .card{
        height: 68.1px;
    }
    .card-body{
        padding: 0.75rem;
    }
    h2{
        font-size: 1.7vw;
        font-weight: bolder;
    }
}
.normal{
    width: auto !important;
}
.nav-link.active{
        background-color: #4e5d6c;
        border-color: #43505e;
        border-bottom-color: #4e5d6c;
}
.check-card{
    height: 288px;
    margin-bottom: 5px;
    .card-header{
        span.float-left{
            width: 70%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .card-body{
        height: 200px;
        overflow: hidden;
    }
}

.check-product{
    border-bottom: 1px dashed #5b6977; 
    font-size: 13px;
}