<div class="row">
  <div id="settings-holder" class="col-lg-2">
    <div class="card">
      <div class="card-block text-center" [ngClass]="{'card-danger card-inverse':selected == 1}" (click)="selected = 1">
        <h3 class="card-title">
          <i class="fa fa-users"></i>
        </h3>
        <p class="card-text">Kullanıcı Ayarları</p>
      </div>
    </div>
    <div class="card mt-3" [ngClass]="{'card-danger card-inverse':selected == 2}" (click)="selected = 2">
      <div class="card-block text-center">
        <h3 class="card-title">
          <i class="fa fa-book"></i>
        </h3>
        <p class="card-text">Menü ve Ürün Ayarları</p>
      </div>
    </div>
    <div class="card mt-3" [ngClass]="{'card-danger card-inverse':selected == 4}" (click)="selected = 4">
      <div class="card-block text-center">
        <h3 class="card-title">
          <i class="fa fa-cutlery"></i>
        </h3>
        <p class="card-text">İşletme ve Masa Ayarları</p>
      </div>
    </div>
    <div class="card mt-3" [ngClass]="{'card-danger card-inverse':selected == 5}" (click)="selected = 5">
      <div class="card-block text-center">
        <h3 class="card-title">
          <i class="fa fa-truck"></i>
        </h3>
        <p class="card-text">Stok Ayarları</p>
      </div>
    </div>

    <div class="card mt-3" [ngClass]="{'card-danger card-inverse':selected == 3}" (click)="selected = 3">
      <div class="card-block text-center">
        <h3 class="card-title">
          <i class="fa fa-cogs"></i>
        </h3>
        <p class="card-text">Program Ayarları</p>
      </div>
    </div>
  </div>
  <div class="col-lg-10 pl-0">
    <div class="card full-height">
      <div class="card-block">
        <div *ngIf="selected == undefined" class="container text-center">
          <img src="{{logo}}" class="mt-5 logo" alt="">
        </div>
        <app-user-settings *ngIf="selected == 1"></app-user-settings>
        <app-menu-settings *ngIf="selected == 2"></app-menu-settings>
        <app-application-settings *ngIf="selected == 3"></app-application-settings>
        <app-restaurant-settings *ngIf="selected == 4"></app-restaurant-settings>
        <app-stock-settings *ngIf="selected == 5"></app-stock-settings>
      </div>
    </div>
  </div>
</div>