<div class="row">
  <div id="settings-holder" class="col-lg-2">
    <!-- <div class="card">
      <div class="card-body text-center" [ngClass]="{'bg-danger text-white':selected == 1}" (click)="selected = 1">
        <h3 class="card-title">
          <i class="fa fa-users"></i>
        </h3>
        <p class="card-text">Kullanıcı Ayarları</p>
      </div>
    </div>
    <div class="card mt-3" [ngClass]="{'bg-danger text-white':selected == 2}" (click)="selected = 2">
      <div class="card-body text-center">
        <h3 class="card-title">
          <i class="fa fa-book"></i>
        </h3>
        <p class="card-text">Menü ve Ürün Ayarları</p>
      </div>
    </div>
    <div class="card mt-3" [ngClass]="{'bg-danger text-white':selected == 4}" (click)="selected = 4">
      <div class="card-body text-center">
        <h3 class="card-title">
          <i class="fa fa-cutlery"></i>
        </h3>
        <p class="card-text">İşletme ve Masa Ayarları</p>
      </div>
    </div>
    <div class="card mt-3" [ngClass]="{'bg-danger text-white':selected == 5}" (click)="selected = 5">
      <div class="card-body text-center">
        <h3 class="card-title">
          <i class="fa fa-truck"></i>
        </h3>
        <p class="card-text">Stok Ayarları</p>
      </div>
    </div>
    <div class="card mt-3" [ngClass]="{'bg-danger text-white':selected == 3}" (click)="selected = 3">
      <div class="card-body text-center">
        <h3 class="card-title">
          <i class="fa fa-cogs"></i>
        </h3>
        <p class="card-text">Program Ayarları</p>
      </div>
    </div> -->


    <div class="card">
      <div class="card-body" [ngClass]="{'bg-danger text-white':selected == 1}" (click)="selected = 1">
        <h2>
          <i class="fa fa-users"></i>
          <span>Kullanıcılar</span>
        </h2>
      </div>
    </div>
    <div class="card" [ngClass]="{'bg-danger text-white':selected == 2}" (click)="selected = 2">
      <div class="card-body">
        <h2>
          <i class="fa fa-glass"></i>
          <span>Ürünler</span>
        </h2>
      </div>
    </div>
    <div class="card" [ngClass]="{'bg-danger text-white':selected == 3}" (click)="selected = 3">
      <div class="card-body">
        <h2>
          <i class="fa fa-square"></i>
          <span>Masalar</span>
        </h2>
      </div>
    </div>
    <div class="card" [ngClass]="{'bg-danger text-white':selected == 4}" (click)="selected = 4">
      <div class="card-body">
        <h2>
          <i class="fa fa-truck"></i>
          <span>Stoklar</span>
        </h2>
      </div>
    </div>
    <div class="card" [ngClass]="{'bg-danger text-white':selected == 5}" (click)="selected = 5">
      <div class="card-body">
        <h2>
          <i class="fa fa-file"></i>
          <span>Reçeteler</span>
        </h2>
      </div>
    </div>
    <div class="card" [ngClass]="{'bg-danger text-white':selected == 6}" (click)="selected = 6">
      <div class="card-body">
        <h2>
          <i class="fa fa-address-card"></i>
          <span>Müşteriler</span>
        </h2>
      </div>
    </div>
    <div class="card" [ngClass]="{'bg-danger text-white':selected == 7}" (click)="selected = 7">
      <div class="card-body">
        <h2>
          <i class="fa fa-print"></i>
          <span>Yazıcılar</span>
        </h2>
      </div>
    </div>
    <div class="card" [ngClass]="{'bg-danger text-white':selected == 8}" (click)="selected = 8">
      <div class="card-body">
        <h2>
          <i class="fa fa-server"></i>
          <span>Sunucular</span>
        </h2>
      </div>
    </div>
    <div class="card" [ngClass]="{'bg-danger text-white':selected == 9}" (click)="selected = 9">
      <div class="card-body">
        <h2>
          <i class="fa fa-cogs"></i>
          <span>Ayarlar</span>
        </h2>
      </div>
    </div>
  </div>
  <div class="col-lg-10 pl-0">
    <div class="card full-height">
      <div class="card-body">
        <div *ngIf="selected == undefined" class="container text-center">
          <div class="jumbotron mb-0">
            <h1 class="display-3">Quickly</h1>
            <p class="lead">Yeni Nesil Otomasyon</p>
            <hr class="my-4">
            <p>{{storeInfo?.name}}</p>
          </div>
          <img src="{{logo}}" class="logo" alt="">
        </div>
        <app-user-settings *ngIf="selected == 1"></app-user-settings>
        <app-menu-settings *ngIf="selected == 2"></app-menu-settings>
        <app-restaurant-settings *ngIf="selected == 3"></app-restaurant-settings>
        <app-stock-settings *ngIf="selected == 4"></app-stock-settings>
        <app-recipe-settings *ngIf="selected == 5"></app-recipe-settings>
        <app-customer-settings *ngIf="selected == 6"></app-customer-settings>
        <!-- 
        <app-stock-settings *ngIf="selected == 7"></app-stock-settings>
        <app-stock-settings *ngIf="selected == 8"></app-stock-settings> 
        -->
        <app-application-settings *ngIf="selected == 9"></app-application-settings>
      </div>
    </div>
  </div>
</div>