.input-group-addon{
    width: 150px;
}
input[type="checkbox"]{
    height: 45px;
    width: 45px;
    margin: auto;
}
.inside-height{
    height: 74.5vh;
}
.flow{
    overflow-y: scroll;
}
.normal{
    width: auto !important;
}