#settings-holder{
    .card{
        i{
            font-size:6vh;
        }
        height: 16vh;
        font-size: 2.8vh; 
    }
}
.nav-link{
    font-size: 3vh;

}
.ntb{
    border-top: 0px !important;
}
.nav-link.active{
    background-color: #f7f7f9;
    border-bottom-color: #f7f7f9;
}