<div class="row animated fadeIn">
  <div class="col-lg-4">
    <a routerLink="/store">
      <div class="card card-inverse card-danger mb-3 mainCard store">
        <div class="card-block">
          <p>Satış</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-4" *ngFor="let menu of menus">
    <a routerLink="/{{menu.link}}">
      <div class="card card-inverse card-{{menu.color}} mb-3 mainCard {{menu.link}}">
        <div class="card-block">
          <p>{{menu.name}}</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-4">
    <div class="card card-inverse mb-3 mainCard exit" (click)="closeProgram()" style="background-color: #333; border-color: #333;">
      <div class="card-block">
        <p>Çıkış</p>
      </div>
    </div>
  </div>
</div>