.mainCard{
    min-height:43vh;
    padding: 2vh;
    overflow: hidden;
    p{  
        position: relative;
        left:-5px;
        top:-5px;
        font-size: 4vw;
        font-weight: bold;
    }
}
.mainCard:before {
    position: absolute;
    font-family: 'FontAwesome';
    font-size: 300px !important;
    bottom: -60px;
    right: -75px;
    opacity: 0.35;
    transform: rotate(-45deg);
  }
.mainCard.store:before{
    content: "\f000";
}
.mainCard.cashbox:before{
    content: "\f0d6";
}
.mainCard.endoftheday:before{
    font-size: 320px !important;
    content: "\f017";
}
.mainCard.reports:before{
    content: "\f200";
}
.mainCard.settings:before{
    content: "\f085";
}
.mainCard.exit:before{
    content: "\f08b";
}