.sellButton{
    font-family: Quickly;
    margin-bottom: 3.8px;
    margin-top:0px;
    padding-top:20px;
    padding-bottom: 20px;
    padding-right: 0px;
    padding-left: 0px;
    color: #000;
    i{
        font-size: 7.4vh;
    }
}
.check-flow{
    overflow-y: scroll;
    overflow-x: hidden; 
    .check-product{
        font-weight: bolder;
        .product-name{
            display: inline-block;
            width: 80% !important;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-transform: capitalize;
        }
        .product-price{
            float: right;
            text-align: right;
            width: 20% !important;
        }
    }
    .btn{
        padding-left: 5px;
        padding-right: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: capitalize;
    }
}
.payment-flow{
    height:35vh;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
    p{
        font-weight: bolder;
    }
}
#productHolder{
    overflow-y: scroll;
    background-color: #ebebeb;
}
.col-card{
    padding-left: 5px;
    padding-right: 5px;
}
.proCard{
    height: 7.5vw;
    .card-block{
        padding: 1rem;
    }
    h2{
        font-size: 1.7vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: capitalize;
    }
    :hover{
        background-color: #ebcccc;
    }
    .long-name{
        height: 50px;
        font-size:1.2vw;
    }
    p{
        position: absolute;
        bottom: 15px;
        font-size: 1.2vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.normal{
    width: auto !important;
}
.tFlow{
    height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden; 
}
.modal-big{
    max-width: 1300px;
}
.payedLayer{
    border-top: 1px solid black;
}
.payed-things{
    min-height: 200px;
}