<div class="row">
  <div class="col-xl-12">
    <div class="card full-height">
      <div class="card-header">
        <div class="row">
          <div class="col-xl-8 col-lg-7">
            <div class="row">
              <div class="col-lg-8">
                <span *ngIf="check?.type == 1">Masa:</span>
                <b>{{check?.table_id | general:'tables' | async}}</b>
                <span *ngIf="check.note !== '' && check.note !== null" class="text-muted">( {{check.note}} )</span>
              </div>
              <div class="col-lg-4 pr-1">
                <div class="input-group input-group-sm">
                  <div class="input-group-addon normal">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </div>
                  <input #productName type="text" placeholder="Ürün Adı Giriniz.." (keydown)="filterProducts(productName.value)" class="form-control form-contol-sm">
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="row">
              <div class="col-lg-6 pr-1 pl-1">
                <button data-toggle="modal" (click)="onProductChange = false" data-target="#splitTable" [disabled]="tablesView?.length == 0 || check.products.length == 0 || check.status == 0"
                  class="btn btn-danger btn-block btn-sm">Masa Değiştir</button>
              </div>
              <div class="col-lg-6 pr-1 pl-1">
                <button data-toggle="modal" data-target="#checkNote" [disabled]="check.products.length == 0" class="btn btn-danger btn-block btn-sm">Hesaba Not Ekle</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-block pt-2">
        <div class="row">
          <div class="col-xl-8 col-lg-7">
            <div class="row">
              <div class="col-xl-3 col-lg-4 inside-height check-flow col-card pl-0">
                <div class="btn-group-vertical btn-block btn-group-lg">
                  <button (click)="productsView = products; selectedCat = undefined;" [ngClass]="{'list-group-item-warning':selectedCat == undefined}"
                    class="btn btn-secondary">Bütün Ürünler</button>
                  <button *ngFor="let cat of categories" [ngClass]="{'list-group-item-warning':selectedCat == cat._id}" (click)="getProductsBy(cat._id)"
                    class="btn btn-secondary">{{cat.name}}</button>
                </div>
              </div>
              <div class="col-xl-9 col-lg-8  pr-0 pl-0">
                <div class="card inside-height">
                  <div *ngIf="subCatsView !== undefined && subCatsView.length > 0">
                    <div class="card-header pt-1 pb-1 pr-4 pl-1">
                      <div class="row ml-1 mr-0">
                        <div *ngFor="let item of subCatsView" class="col p-0 pr-1 pl-1">
                          <button (click)="getProductsBySubCat(item._id)" class="btn btn-md btn-warning btn-block">
                            <b>{{item.name}}</b>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="productHolder" class="card-block pt-0 flow">
                    <div class="row">
                      <div *ngFor="let product of productsView" (click)="addToCheck(product)" class="col-xl-4 col-lg-6 col-card">
                        <div class="card mb-1 mt-1 proCard">
                          <div class="card-block">
                            <h2 class="card-title" [ngClass]="{'long-name': product.name.length > 12 }">{{product.name}}</h2>
                            <p class="card-text text-danger">
                              <i class="fa fa-money"></i>
                              <b> {{product.price}} TL</b>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="productsView == undefined || productsView.length == 0" class="row mt-5">
                      <div class="col-xl-12 mt-5">
                        <h2 class="text-center mt-3">Eşleşen Ürün Bulunamadı</h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 pr-0 pl-1">
            <div class="card inside-height">
              <div class="card-block check-flow p-2">
                <div *ngFor="let item of check.products; let i = index" [ngClass]="{'animated slideInLeft':item.status == 1}" class="mb-2">
                  <p [ngClass]="{'text-danger': item.status == 2 && selectedIndex != i, 'bg-warning':selectedIndex == i}" style="cursor:pointer"
                    (click)="selectProduct(i)" class="text-bold mb-0">
                    <i *ngIf="item.status == 3" class="fa fa-times-rectangle text-danger" aria-hidden="true"></i>
                    {{item.name}}
                    <small *ngIf="item.note !== ''" class="text-muted">({{item.note}})</small>
                    <span class="pull-right"> {{item.price}} TL</span>
                  </p>
                  <div *ngIf="selectedIndex == i && item.status !== 1">
                    <small class="text-muted">
                      <i class="fa fa-user" aria-hidden="true"></i> {{item.owner}}
                      <span class="pull-right">
                        <i class="fa fa-clock-o" aria-hidden="true"></i> {{item.timestamp | date:'HH:mm'}}</span>
                    </small>
                  </div>
                </div>
              </div>
              <div *ngIf="check.discount > 0" class="card-footer p-1">
                <button (click)="togglePayed()" class="btn btn-sm btn-secondary btn-block text-left">{{payedTitle}}
                  <i [ngClass]="(payedShow) ? 'fa-caret-down':'fa-caret-up'" class="fa pull-right" aria-hidden="true"></i>
                </button>
              </div>
              <div *ngIf="check.discount > 0 && payedShow" class="card-block check-flow p-2 payed-things">
                <div *ngFor="let payment of check.payment_flow" class="mb-2 payedLayer">
                  <p class="mb-0">{{payment.method}}
                    <small>( {{payment.owner}} - {{payment.timestamp | date:'HH:mm'}} )</small>
                    <span class="pull-right">{{payment.amount + payment.discount}} TL</span>
                  </p>
                  <p *ngFor="let product of payment.payed_products" class="text-muted m-0  pl-3">
                    <small>{{product.name}}
                      <span class="pull-right">{{product.price}} TL</span>
                    </small>
                  </p>
                  <p *ngIf="payment.discount > 0" class="text-danger m-0">
                    <small>
                      <i class="fa fa-arrow-down" aria-hidden="true"></i> İndirim Miktarı
                      <span class="pull-right">{{payment.discount}} TL</span>
                    </small>
                  </p>
                  <p class="m-0 text-bold">
                    <small>
                      <i class="fa fa-arrow-right" aria-hidden="true"></i> Cari Ödeme
                      <span class="pull-right">{{payment.amount}} TL</span>
                    </small>
                  </p>
                </div>
              </div>
              <div class="card-footer p-2">
                <p *ngIf="check.discount > 0" class="text-muted mb-0"> Ödenen Miktar:
                  <span class="pull-right">{{check.discount}} TL</span>
                </p>
                <p *ngIf="check.discount > 0" class="mb-0">
                  <strong>Kalan Toplam:
                    <span class="pull-right">{{check.total_price}} TL</span>
                  </strong>
                </p>
                <p class="text-primary mb-2">
                  <strong>Hesap Toplamı:
                    <span class="pull-right">{{check.discount + check.total_price}} TL</span>
                  </strong>
                </p>
                <button (click)="goPayment()" [disabled]="check.products.length == 0 || check.type == 1 && check.products[0]?.status == 1 "
                  class="btn btn-danger btn-lg btn-block">Ödeme Al</button>
              </div>
            </div>
          </div>
          <div class="col-xl-1 col-lg-1 pr-0 pl-1">
            <button (click)="sendCheck()" [disabled]="check.products.length == 0 || newOrders.length == 0" class="btn btn-success btn-block sellButton">
              <i class="fa fa-paper-plane fa-5x"></i>
            </button>
            <button data-toggle="modal" [disabled]="check.products.length == 0 || selectedProduct == undefined || selectedProduct.status !== 1"
              data-target="#noteModal" class="btn btn-warning btn-block sellButton">
              <i class="fa fa-sticky-note fa-5x"></i>
            </button>
            <button (click)="undoChanges()" [disabled]="newOrders.length == 0" class="btn btn-primary btn-block sellButton">
              <i class="fa fa-undo fa-5x"></i>
            </button>
            <button data-toggle="modal" data-target="#cancelProduct" [disabled]="check.products.length == 0 || selectedProduct == undefined || selectedProduct.status !== 2"
              class="btn btn-danger btn-block sellButton">
              <i class="fa fa-times fa-5x"></i>
            </button>
            <button data-toggle="modal" (click)="onProductChange = true" [disabled]="check.products.length == 0 || selectedProduct == undefined || selectedProduct.status !== 2"
              data-target="#splitTable" class="btn btn-info btn-block sellButton">
              <i class="fa fa-exchange fa-5x"></i>
            </button>
            <button (click)="printCheck()" [disabled]="check.products.length == 0 || check.status == 0" class="btn bg-inverse btn-block sellButton">
              <i style="color:lightgray !important;" class="fa fa-print fa-5x"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="selectedProduct !== undefined" class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modelTitleId">Not Ekle
          <span *ngIf="selectedProduct !== undefined">( {{selectedProduct.name}} )</span>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #noteForm="ngForm" (ngSubmit)="addNote(noteForm)">
        <div class="modal-body">
          <div class="form-group">
            <input type="text" placeholder="Notunuz..." name="description" class="form-control form-control-lg" ngModel>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">Kapat</button>
          <button type="submit" class="btn btn-primary btn-lg">Not Ekle</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="checkNote" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modelTitleId">Hesaba Not Ekle</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #checkNoteForm="ngForm" (ngSubmit)="addCheckNote(checkNoteForm)">
        <div class="modal-body">
          <div class="form-group">
            <input type="text" placeholder="Notunuz..." name="description" class="form-control form-control-lg" ngModel>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">Kapat</button>
          <button type="submit" class="btn btn-danger btn-lg">Not Ekle</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="cancelProduct" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modelTitleId">İptal Nedeni</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div *ngFor="let reason of cancelReasons" class="col">
            <button type="button" class="btn btn-lg btn-danger btn-block" (click)="cancelProduct(reason)">{{reason}}</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">Kapat</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="splitTable" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modelTitleId">Masalar</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-4 tFlow pl-1 pr-1">
            <div class="btn-group-vertical btn-block btn-group-lg">
              <button (click)="tablesView = tables" class="btn btn-secondary">Bütün Masalar</button>
              <button *ngFor="let floor of floors" (click)="filterTables(floor._id)" class="btn btn-secondary">{{floor.name}}</button>
            </div>
          </div>
          <div class="col-lg-8 tFlow pl-0 pr-2">
            <div class="row pr-2 pl-3">
              <div *ngFor="let item of tablesView" class="col-lg-4 pl-1 pr-1 mb-2">
                <div [ngClass]="{'card-success': item.status == 2 , 'card-warning' : item.status == 1 , 'bg-info': item._id == selectedTable?._id}"
                  (click)="selectTable(item)" class="card">
                  <div class="card-body p-3">
                    <h4 class="card-title" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{item.name}}</h4>
                    <p class="card-text">
                      <i class="fa fa-user" aria-hidden="true"></i> {{item.capacity}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">Kapat</button>
        <button *ngIf="onProductChange" type="button" class="btn btn-danger btn-lg" (click)="splitProduct()" [disabled]="selectedTable == undefined">Ürün Taşı</button>
        <button *ngIf="!onProductChange" type="button" class="btn btn-danger btn-lg" (click)="splitTable()" [disabled]="selectedTable == undefined">Masa Değiştir</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="productSpecs" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{productWithSpecs?.name}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-0">
        <div class="card">
          <div class="card-header">Miktar</div>
          <div class="card-block p-0">
            <div class="input-group">
              <input #specsInput type="text" readonly class="form-control form-control-lg" [ngModel]="numpad" />
              <div #specsUnit class="input-group-addon normal">{{productStock?.stock_id | general:'stocks':'unit' | async}}</div>
            </div>
          </div>
          <div class="card-footer">
            <div *ngFor="let keys of numboard;" class="row mb-1">
              <div *ngFor="let key of keys;" class="col-lg-4 pr-1 pl-1">
                <button type="button" [disabled]="key == '◂' && numpad == '' || key == '.' && numpad == '' || key == '0' && numpad == '' || key == '.' && isFirstTime || key == '.' && specsUnit.innerHTML == 'Adet'"
                  (click)="pushKey(key)" class="btn btn-secondary btn-lg btn-block numpad">{{key}}</button>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <b>
              <h2 class="mb-0">Tutar:
                <span class="pull-right">{{(numpad*productWithSpecs?.price) / productStock?.amount }} TL</span>
              </h2>
            </b>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">Kapat</button>
        <button type="button" (click)="numpadToCheck()" [disabled]="((numpad*productWithSpecs?.price) / productStock?.amount) == 0"
          class="btn btn-primary btn-lg">
          <i class="fa fa-check" aria-hidden="true"></i> Onayla</button>
      </div>
    </div>
  </div>
</div>