.tableCard{
    h2{
        font-size: 2rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    :hover{
        background-color: #ebcccc;
    }
}
#productHolder{
    overflow-y: scroll;
    background-color: #ebebeb;
    padding-top:5px;
}
.col-card{
    padding-left: 5px;
    padding-right: 5px;
}
.inside-height{
    height: 74.5vh;
}
input[type="checkbox"]{
    height: 45px;
    width: 45px;
    margin: auto;
}