<div class="row">
  <div class="col-xl-12">
    <div class="card full-height">
      <div class="card-header">
        <div class="row">
          <div class="col-lg-10">
            Masa:
            <b>
              {{check?.table_id | general:'tables' | async}}
            </b>
          </div>
          <div class="col-lg-2 pr-1">
            <button type="button" [routerLink]="['/selling-screen',check_type, check_id]" class="btn btn-danger btn-sm btn-block">
              <i class="fa fa-backward" aria-hidden="true"></i> Geri Dön</button>
          </div>
        </div>
      </div>
      <div class="card-block pt-2">
        <div class="row">
          <div class="col col-xl-3 pl-1 pr-0">
            <div class="card inside-height">
              <div class="card-header">Adisyon</div>
              <div class="card-block p-2 check-flow">
                <div *ngFor="let item of check?.products; let i = index" class="mb-2 animated slideInRight">
                  <p *ngIf="item.status == 2" style="cursor:pointer" (click)="addProductToList(item)" class="text-bold text-danger mb-0">
                    {{item.name}}
                    <small *ngIf="item.note !== ''" class="text-muted">({{item.note}})</small>
                    <span class="pull-right"> {{item.price}} TL</span>
                  </p>
                </div>
              </div>
              <div class="card-footer p-1">
                <p class="pr-1 pl-1 mt-2">
                  <strong>
                    Kalan Toplam:
                    <span class="pull-right">{{check?.total_price}} TL</span>
                  </strong>
                </p>
                <button (click)="sendAllProducts()" [disabled]="check?.products.length == 0" class="btn btn-lg btn-danger btn-block text-left">Hepsini Geçir
                  <i class="fa fa-arrow-right pull-right" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col col-xl-3 pl-1 pr-0">
            <div class="card inside-height">
              <div class="card-header">Ödenecek Ürünler</div>
              <div class="card-block p-2 check-flow">
                <div *ngFor="let item of productsWillPay" class="mb-2 animated slideInLeft">
                  <p *ngIf="item.status == 2" style="cursor:pointer" (click)="addProductToCheck(item)" class="text-bold text-danger mb-0">
                    {{item.name}}
                    <small *ngIf="item.note !== ''" class="text-muted">({{item.note}})</small>
                    <span class="pull-right"> {{item.price}} TL</span>
                  </p>
                </div>
              </div>
              <div *ngIf="check?.discount > 0" class="card-footer p-1">
                <p *ngIf="check?.discount > 0" class="pr-1 pl-1 mt-2">
                  <strong>
                    Önceden Ödenen Miktar:
                    <span class="pull-right">{{check?.discount}} TL</span>
                  </strong>
                </p>
                <button (click)="togglePayed()" class="btn btn-lg btn-secondary btn-block text-left">{{payedTitle}}
                  <i [ngClass]="(payedShow) ? 'fa-caret-down':'fa-caret-up'" class="fa pull-right hidden-lg-down" aria-hidden="true"></i>
                </button>
              </div>
              <div *ngIf="check?.discount > 0 && payedShow" class="card-block check-flow p-2 payed-things">
                <div *ngFor="let payment of check.payment_flow" class="mb-2 payedLayer">
                  <p class="mb-0">{{payment.method}}
                    <small>( {{payment.owner}} - {{payment.timestamp | date:'HH:mm'}} )</small>
                    <span class="pull-right">{{payment.amount + payment.discount}} TL</span>
                  </p>
                  <p *ngFor="let product of payment.payed_products" class="m-0 text-muted pl-3">
                    <small>{{product.name}}
                      <span class="pull-right">{{product.price}} TL</span>
                    </small>
                  </p>
                  <p *ngIf="payment.discount > 0" class="text-danger m-0">
                    <small>
                      <i class="fa fa-arrow-down" aria-hidden="true"></i> İndirim Tutarı
                      <span class="pull-right">{{payment.discount}} TL</span>
                    </small>
                  </p>
                  <p class="m-0 text-bold">
                    <small>
                      <i class="fa fa-arrow-right" aria-hidden="true"></i> Cari Ödeme
                      <span class="pull-right">{{payment.amount}} TL</span>
                    </small>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-1 pl-1 pr-0 hidden-lg-down">
            <button [disabled]="priceWillPay == 0 || payedPrice > 0 && changePrice >= 0" (click)="getPayment(200)" class="btn btn-block cashButton ikiyuzTL">
              200
            </button>
            <button [disabled]="priceWillPay == 0 || payedPrice > 0 && changePrice >= 0" (click)="getPayment(100)" class="btn btn-block cashButton yuzTL">
              100
            </button>
            <button [disabled]="priceWillPay == 0 || payedPrice > 0 && changePrice >= 0" (click)="getPayment(50)" class="btn btn-block cashButton elliTL">
              50
            </button>
            <button [disabled]="priceWillPay == 0 || payedPrice > 0 && changePrice >= 0" (click)="getPayment(20)" class="btn btn-block cashButton yirmiTL">
              20
            </button>
            <button [disabled]="priceWillPay == 0 || payedPrice > 0 && changePrice >= 0" (click)="getPayment(10)" class="btn btn-block cashButton onTL">
              10
            </button>
            <button [disabled]="priceWillPay == 0 || payedPrice > 0 && changePrice >= 0" (click)="getPayment(5)" class="btn btn-block cashButton besTL">
              5
            </button>
          </div>
          <div class="col-xl-4 col-lg-4 pl-1 pr-0">
            <div class="card inside-height">
              <div class="card-header p-2">
                <h3 class="mb-1 mt-1 will-pay">
                  <b>Ödenecek Miktar:</b>
                  <span class="text-primary pull-right">
                    <strong>{{currentAmount}} TL</strong>
                  </span>
                </h3>
              </div>
              <div class="card-block p-2">
                <h4 *ngIf="currentAmount > 0" class="mb-0">Ürünlerin Toplamı:
                  <span class="text-primary pull-right">
                    <b>{{priceWillPay}} TL</b>
                  </span>
                </h4>
                <h4 *ngIf="payedPrice > 0" class="mt-0 mb-1">Alınan Miktar:
                  <span class="text-success pull-right">
                    <b>{{payedPrice}} TL</b>
                  </span>
                </h4>
                <h4 *ngIf="discount !== undefined" class="mb-1">İndirim Tutarı:
                  <span class="text-danger pull-right">
                    <small>{{discount | number:'2.0-0' }} %</small> -
                    <b>{{discountAmount}} TL</b>
                  </span>
                </h4>
                <h4 *ngIf="payedPrice > 0 && changePrice !== 0" class="mb-1">{{changeMessage}}:
                  <span class="text-warning pull-right">
                    <b>{{(changePrice
                      < 0 ? changePrice*-1 : changePrice)}} TL </b>
                  </span>
                </h4>
              </div>
              <div class="card-footer p-1">
                <div class="input-group">
                  <input type="text" class="form-control form-control-lg text-right" readonly [ngModel]="numpad">
                  <div class="input-group-addon normal">
                    <i class="fa fa-turkish-lira" aria-hidden="true"></i>
                  </div>
                  <span class="input-group-btn">
                    <button class="btn btn-secondary" (click)="cleanPad()" type="button">
                      <i class="fa fa-arrow-left" aria-hidden="true"></i> Temizle
                    </button>
                  </span>
                </div>
              </div>
              <div class="card-footer">
                <div *ngFor="let keys of numboard;" class="row mb-1">
                  <div *ngFor="let key of keys;" class="col-lg-4 pr-1 pl-1">
                    <button type="button" [ngClass]="{'btn-success': key == '✔' && numpad > 0}" [disabled]="key == '✔' && numpad == '' || key == '.' && numpad == '' || key == '0' && numpad == ''"
                      (click)="pushKey(key)" class="btn btn-secondary btn-lg btn-block numpad">{{key}}</button>
                  </div>
                </div>
              </div>
              <div class="card-footer p-1">
                <p class="pr-1 pl-1 mt-2">
                  <strong>Hesap Genel Toplamı:
                    <span class="pull-right">{{check?.discount + check?.total_price + priceWillPay}} TL</span>
                  </strong>
                </p>
                <button [disabled]="productsWillPay.length == 0" type="button" style="flex: 2 1 auto;" data-toggle="modal" data-target="#discount"
                  class="btn btn-secondary btn-block btn-lg">İndirim Yap
                  <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-1 pl-1 pr-0">
            <button [disabled]="currentAmount == 0 || payedPrice < currentAmount || payedPrice == 0 || currentAmount == 0 && productsWillPay.length == 0" (click)="payProducts('Nakit')"
              class="btn btn-block text-success sellButton btn-secondary">
              <i class="fa fa-money ml-1"></i>
              <br> Nakit
            </button>
            <button [disabled]="currentAmount == 0 || payedPrice < currentAmount || payedPrice == 0 || currentAmount == 0 && productsWillPay.length == 0" (click)="payProducts('Kart')"
              class="btn btn-block text-warning sellButton btn-secondary">
              <i class="fa fa-credit-card ml-1"></i>
              <br> Kart
            </button>
            <button [disabled]="currentAmount == 0 || payedPrice < currentAmount || payedPrice == 0 || currentAmount == 0 && productsWillPay.length == 0" (click)="payProducts('Kupon')"
              class="btn btn-block text-info sellButton btn-secondary">
              <i class="fa fa-bookmark ml-1"></i>
              <br> Kupon
            </button>
            <button [disabled]="productsWillPay.length == 0" (click)="payProducts('İkram')"
              class="btn btn-block text-danger sellButton btn-secondary">
              <i class="fa fa-handshake-o ml-1" aria-hidden="true"></i>
              <br> İkram
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="discount" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">İndirim Yap</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <div class="input-group">
              <input #discountInput type="number" placeholder="İndirim Tutarı Giriniz" class="form-control form-control-lg">
              <div class="input-group-addon normal">
                TL
              </div>
              <span class="input-group-btn">
                <button class="btn btn-primary btn-lg" [disabled]="discountInput.value >= currentAmount" (click)="setDiscount((discountInput.value*100)/priceWillPay)" type="button">
                  <i class="fa fa-arrow-down" aria-hidden="true"></i> İndirim Yap
                </button>
              </span>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div *ngFor="let item of discounts;" class="col">
            <button type="button" (click)="setDiscount(item)" class="btn btn-primary btn-block btn-lg btn-discount">{{item}} %</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">Kapat</button>
      </div>
    </div>
  </div>
</div>