<div class="row">
  <div class="col-xl-12">
    <div class="card full-height">
      <div class="card-header">
        <div class="row">
          <div class="col-lg-10">
            Masa:
            <b>
              {{id | general:'tables' | async}}
            </b>
          </div>
          <div class="col-lg-2">
            <button type="button" class="btn btn-danger btn-sm btn-block">
              <i class="fa fa-backward" aria-hidden="true"></i> Geri</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>