<div class="row">
  <div class="col-xl-12">
    <div class="card full-height">
      <div class="card-header">
        <div class="row">
          <div class="col-lg-10">
            Masa:
            <b>
              {{check?.table_id | general:'tables' | async}}
            </b>
          </div>
          <div class="col-lg-2 pr-1">
            <button type="button" [routerLink]="['/selling-screen', check?.table_id]" class="btn btn-danger btn-sm btn-block">
              <i class="fa fa-backward" aria-hidden="true"></i> Geri Dön</button>
          </div>
        </div>
      </div>
      <div class="card-block pt-2">
        <div class="row">
          <div class="col-lg-3 pl-1 pr-0">
            <div class="card inside-height">
              <div class="card-header">Adisyon</div>
              <div class="card-block p-2 check-flow">
                <div *ngFor="let item of check?.products; let i = index" class="mb-2">
                  <p [ngClass]="{'text-danger': item.status == 2 && selectedIndex != i, 'bg-warning':selectedIndex == i}" style="cursor:pointer"
                    (click)="selectProduct(i)" class="text-bold mb-0">
                    <i *ngIf="item.status == 3" class="fa fa-times-rectangle text-danger" aria-hidden="true"></i>
                    {{item.name}}
                    <small *ngIf="item.note !== ''" class="text-muted">({{item.note}})</small>
                    <span class="pull-right"> {{item.price}} TL</span>
                  </p>
                  <div *ngIf="selectedIndex == i && item.status !== 1">
                    <small class="text-muted">
                      <i class="fa fa-user" aria-hidden="true"></i> {{item.owner}}
                      <span class="pull-right">
                        <i class="fa fa-clock-o" aria-hidden="true"></i> {{item.timestamp | date:'HH:mm'}}</span>
                    </small>
                  </div>
                </div>
              </div>

              <div class="card-footer p-1">
                <p *ngIf="check?.discount > 0" class="pr-1 pl-1 mt-2">
                  <strong>
                    Kalan Toplam:
                    <span class="pull-right">{{check?.total_price}} TL</span>
                  </strong>
                </p>
                <button (click)="togglePayed()" class="btn btn-lg btn-info btn-block text-left">Hepsini Geçir
                  <i class="fa fa-arrow-right pull-right" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-3 pl-1 pr-0">
            <div class="card inside-height">
              <div class="card-header">Ödenecek Ürünler</div>
              <div class="card-block p-2 check-flow">

              </div>
              <div *ngIf="check?.discount > 0" class="card-footer p-1">
                <p *ngIf="check?.discount > 0" class="pr-1 pl-1 mt-2">
                  <strong>
                    Önceden Ödenen Miktar:
                    <span class="pull-right">{{check?.discount}} TL</span>
                  </strong>
                </p>
                <button (click)="togglePayed()" class="btn btn-lg btn-secondary btn-block text-left">{{payedTitle}}
                  <i [ngClass]="(payedShow) ? 'fa-caret-down':'fa-caret-up'" class="fa pull-right" aria-hidden="true"></i>
                </button>
              </div>
              <div *ngIf="check?.discount > 0 && payedShow" class="card-block check-flow p-2">
                <div *ngFor="let payment of check.payment_flow" class="mb-2">
                  <p class="mb-0">{{payment.method}}
                    <small>( {{payment.owner}} - {{payment.timestamp | date:'HH:mm'}} )</small>
                    <span class="pull-right">{{payment.amount + payment.discount}} TL</span>
                  </p>
                  <p *ngIf="payment.discount > 0" class="text-muted m-0">
                    <small>Direkt Para Ödemesi
                      <span class="pull-right">{{payment.discount}} TL</span>
                    </small>
                  </p>
                  <p *ngFor="let product of payment.payed_products" class="text-muted m-0">
                    <small>{{product.name}}
                      <span class="pull-right">{{product.price}} TL</span>
                    </small>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-1 pl-1 pr-0">
            <button (click)="sendCheck()" class="btn btn-block cashButton ikiyuzTL">
              200
            </button>
            <button (click)="sendCheck()" class="btn btn-block cashButton yuzTL">
              100
            </button>
            <button (click)="sendCheck()" class="btn btn-block cashButton elliTL">
              50
            </button>
            <button (click)="sendCheck()" class="btn btn-block cashButton yirmiTL">
              20
            </button>
            <button (click)="sendCheck()" class="btn btn-block cashButton onTL">
              10
            </button>
            <button (click)="sendCheck()" class="btn btn-block cashButton besTL">
              5
            </button>
          </div>
          <div class="col-lg-4 pl-1 pr-0">
            <div class="card inside-height">
              <div class="card-block">
        
              </div>
              <div class="card-footer">
                  <div *ngFor="let keys of numboard;" class="row mb-1">
                      <div *ngFor="let key of keys;" class="col-lg-4 pr-1 pl-1">
                        <button type="button" class="btn btn-secondary btn-lg btn-block">{{key}}</button>
                      </div>
                    </div>
              </div>
              <div class="card-footer p-1">
                <p class="text-primary pr-1 pl-1 mt-2">
                  <strong>Hesap Toplamı:
                    <span class="pull-right">{{check?.discount + check?.total_price}} TL</span>
                  </strong>
                </p>
                <button data-toggle="modal" data-target="#paymentMethod" (click)="printCheck()" class="btn btn-danger btn-lg btn-block">Hesabı Kapat</button>
              </div>
            </div>
          </div>
          <div class="col-lg-1 pl-1 pr-0">
            <button (click)="sendCheck()" class="btn btn-block sellButton btn-success">
              Nakit
            </button>
            <button (click)="sendCheck()" class="btn btn-block sellButton btn-warning">
              Kart
            </button>
            <button (click)="sendCheck()" class="btn btn-block sellButton btn-info">
              Kupon
            </button>
            <button (click)="sendCheck()" class="btn btn-block sellButton btn-danger">
              İkram
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>