.sellButton{
    font-family: Quickly;
    margin-bottom: 3.8px;
    margin-top:0px;
    padding-top:20px;
    padding-bottom: 20px;
    padding-right: 0px;
    padding-left: 0px;
    color: #000;
    i{
        font-size: 7.4vh;
    }
}
.check-flow{
    overflow-y: scroll;
    overflow-x: hidden;
    p{
        font-weight: bolder;
    }
    .btn{
        padding-left: 5px;
        padding-right: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: capitalize;
    }
}
.payment-flow{
    height:35vh;
    overflow: hidden;
    overflow-y: auto;
    p{
        font-weight: bolder;
    }
}
#productHolder{
    overflow-y: scroll;
    background-color: #ebebeb;
}
.col-card{
    padding-left: 5px;
    padding-right: 5px;
}
.proCard{
    height: 112.4px;
    .card-block{
        padding: 1rem;
    }
    h2{
        font-size: 3vh;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: capitalize;
    }
    :hover{
        background-color: #ebcccc;
    }
    .long-name{
        font-size: 2.4vh;
    }
    p{
        position: absolute;
        bottom: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.normal{
    width: auto !important;
}
.tFlow{
    height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden; 
}