<div class="row">
  <div class="col-lg-12">
    <div class="card full-height">
      <div class="card-header">
        <div class="row">
          <div class="col-lg-10">
            Hızlı Satış
          </div>
          <div class="col-lg-2 pl-0">
            <div class="input-group input-group-sm">
              <div class="input-group-addon normal">
                <i class="fa fa-search" aria-hidden="true"></i>
              </div>
              <input #productName type="text" placeholder="Ürün Adı Giriniz.." (keydown)="filterProducts(productName.value)" class="form-control form-contol-sm">
            </div>
          </div>
        </div>
      </div>
      <div class="card-block pt-2">
        <div class="row">
          <div class="col-lg-1 pr-1 pl-1">
            <button data-toggle="modal" [disabled]="check.products.length == 0 || selectedProduct == undefined" data-target="#noteModal"
              class="btn btn-warning btn-block sellButton">
              <i class="fa fa-sticky-note fa-5x"></i>
            </button>
            <button (click)="undoChanges()" [disabled]="check.products.length == 0" class="btn btn-primary btn-block sellButton">
              <i class="fa fa-undo fa-5x"></i>
            </button>
            <button (click)="cancelProduct()" [disabled]="check.products.length == 0 || selectedProduct == undefined" class="btn btn-danger btn-block sellButton">
              <i class="fa fa-times fa-5x"></i>
            </button>
          </div>
          <div class="col-lg-3 pr-0 pl-1">
            <div class="card inside-height">
              <div class="card-block check-flow p-2">
                <p *ngFor="let item of check.products; let i = index" id="product_{{i}}" [ngClass]="{'text-danger': item.status == 2}" (click)="selectProduct(i)"
                  class="text-bold">{{item.name}}
                  <small *ngIf="item.note !== ''" class="text-muted">(
                    <i class="fa fa-sticy-note"></i>{{item.note}})</small>
                  <span class="pull-right">{{item.price}} TL</span>
                </p>
              </div>
              <div class="card-footer p-2">
                <p *ngIf="check.discount > 0" class="text-muted">Ödenen Miktar:
                  <span class="pull-right">{{check.discount}} TL</span>
                </p>
                <p>
                  <strong>Toplam:
                    <span class="pull-right">{{check.total_price}} TL</span>
                  </strong>
                </p>
                <button data-toggle="modal" data-target="#paymentModal" [disabled]="check.products.length == 0" class="btn btn-danger btn-lg btn-block">Ödeme Al</button>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-3 inside-height check-flow col-card">
                <div class="btn-group-vertical btn-block btn-group-lg">
                  <button (click)="fillData()" class="btn btn-secondary">Bütün Ürünler</button>
                  <button *ngFor="let cat of categories" (click)="getProductsBy(cat._id)" class="btn btn-secondary">{{cat.name}}</button>
                </div>
              </div>
              <div class="col-xl-9 col-lg-8  pr-0 pl-0">
                <div class="card inside-height">
                  <div *ngIf="sub_categories !== undefined && sub_categories.length > 0">
                    <div class="card-header pt-1 pb-1 pr-4 pl-1">
                      <div class="row ml-1 mr-0">
                        <div *ngFor="let item of sub_categories" class="col p-0 pr-1 pl-1">
                          <button (click)="getProductsBySubCat(item._id)" class="btn btn-md btn-warning btn-block">
                            <b>{{item.name}}</b>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="productHolder" class="card-block pt-0 flow">
                    <div class="row">
                      <div *ngFor="let product of products" (click)="addToCheck(product)" class="col-xl-4 col-lg-6 col-card">
                        <div class="card mb-1 mt-1 proCard">
                          <div class="card-block">
                            <h2 class="card-title" [ngClass]="{'long-name': product.name.length > 12 }">{{product.name}}</h2>
                            <p class="card-text text-danger">
                              <i class="fa fa-money"></i>
                              <b> {{product.price}} TL</b>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="products == undefined || products.length == 0" class="row mt-5">
                      <div class="col-xl-12 mt-5">
                        <h2 class="text-center mt-3">Eşleşen Ürün Bulunamadı</h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div *ngIf="selectedProduct !== undefined" class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modelTitleId">Not Ekle
          <span *ngIf="selectedProduct !== undefined">( {{selectedProduct.name}} )</span>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #noteForm="ngForm" (ngSubmit)="addNote(noteForm)">
        <div class="modal-body">
          <div class="form-group">
            <input type="text" name="description" class="form-control form-control-lg" ngModel>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">Kapat</button>
          <button type="submit" class="btn btn-primary btn-lg">Not Ekle</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modelTitleId">Ödeme Yöntemi Seçin</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-deck-wrapper">
          <div class="card-deck">
            <div (click)="payCheck('Nakit')" class="card card-inverse card-success text-center">
              <div class="card-block">
                <h4 class="card-title">Nakit</h4>
              </div>
            </div>
            <div (click)="payCheck('Kart')" class="card card-inverse card-warning text-center">
              <div class="card-block ">
                <h4 class="card-title">Kart</h4>
              </div>
            </div>
            <div (click)="payCheck('Kupon')" class="card card-inverse card-info text-center">
              <div class="card-block">
                <h4 class="card-title">Kupon</h4>
              </div>
            </div>
            <div (click)="payCheck('İkram')" class="card card-inverse card-danger text-center">
              <div class="card-block">
                <h4 class="card-title">İkram</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>