.nav-link{
    font-size: 3vh;
}
.ntb{
    border-top: 0px !important;
}
.nav-link.active{
    background-color: #f7f7f9;
    border-bottom-color: #f7f7f9;
}
.tab-height{
    height: 61vh;
}
.flow{
    overflow-y: scroll;
    height: 57vh;
}
.full-flow{
    overflow-y: scroll;
    overflow-x: hidden;
}
.checkDetail{
    height: 72vh;
}